[url "https://github.com/NREL/OpenStudio.git"]
    insteadOf = nrel://


[alias]
  os = clone https://github.com/NREL/OpenStudio.git
  os-standards = clone https://github.com/NREL/openstudio-standards.git
  os-ptool =clone https://github.com/NREL/OpenStudio-PTool.git
  os-measures = clone https://github.com/NREL/OpenStudio-measures.git
  os-spreadsheet = https://github.com/NREL/OpenStudio-analysis-spreadsheet.git
  nrcan-ptool = clone https://github.com/phylroy/OpenStudio-PTool.git
  nrcan-standards = clone https://github.com/NREL/openstudio-standards.git -b nrcan 
  nrcan-vis-pc = clone https://github.com/phylroy/parallel-coordinates.git
  nrcan-vis-sankey = clone https://github.com/phylroy/d3-sankey.git
  phylroy-vim = clone https://github.com/phylroy/vimrc ~/.vim_runtime
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%C(yellow)%h %ad | %C(reset)%sd %C(green)[%an]\" --date=short --graph
  type = cat-file -t
  dump = cat-file -p
